@{
    ViewData["Title"] = "LibHub";
}

<div class="text-center">
    <h1 class="display-4">LibHub</h1>
    <h3>Last visit: @ViewBag.LastVisit</h3>
    <b></b>
    <p>Wykonał Kamil Surówka</p>
</div>

<style>
    body {
        background-image: url('/Img/Cloudy.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>